<!DOCTYPE html>
<html>
  <head>
    <title>FMSCG</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to 'FMS COLOR GUARD', root_path, class: 'navbar-brand' %>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item">
        <%= link_to 'Members', members_path, class: 'nav-link' %>
      </li>
      <li>
        <%= link_to 'New Members', new_member_path, class: 'nav-link' %>
      </li>
      <div class='float-right'>
      <li>
        <ul class="navbar-nav">
      <% if user_signed_in? %>        
        <li class="nav-item">
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
      <li class ="nav-item">
         <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
      </li>
        <li class="nav-item">
      <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
    </li>
      <% end %>
    </ul>
  </div>
</nav>
 


  <% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>

   
  </head>
  <body>
  <script>

    function initMap() {
      var myLatLng = {lat: 38.068, lng: -78.891};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
    }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIMnz2vTi0j_AcrmAcVvC4NWzlKoNmkGI&callback=initMap">
  </script>
    
    <%= yield %>
  </body>
</html>

  