<div class="members-box">
<h1>Enter The Members Details</h1>
<%= simple_form_for @member do |f| %>
  <%= f.input :name %><br />
  <%= f.input :rank %><br />
  <%= f.input :year %>
  <br />
  <%= f.submit 'Create', class: 'btn btn-primary' %>
<% end %>
</div>